.header {
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .menu {
  height: 30px;
  width: 30px;
}
