*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 200px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  background: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  /* background: white; */
  background: rgba(128, 128, 128, 0.075);
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  /* width: calc(100% + 2px); */
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  /* background: white; */

  background: rgba(128, 128, 128, 0.075);
  padding: 20px;
  width: 100%;
  height: 140px;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

h6 {
  color: #104d80;
  font-weight: bold;
}

.content-combo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  margin: 30px;
}

.content-combo div {
  font-weight: bold;
  padding: 10px;
}
.content-container {
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  top: -33px;
}

.search {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #104d80;
  color: white;
  padding: 8px;
  border-radius: 35px;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  /* color: white; */
  padding: 8px;
  border-radius: 35px;
}
