.sidebar-active {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: azure;
  transition: 0.5s;
  left: 0px;
}
.sidebar {
  left: -300px;
  position: fixed;
  width: 250px;
  height: 100vh;
  background: azure;
  transition: 0.5s;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.menu {
  height: 30px;
  width: 30px;
}
